<!-- footer -->
<footer>
    <section class="white-section" id="foot">
      <div class="container-fluid">
        <h3 class="big-heading">Donate to help our community</h3>
        <!-- <a href="https://49eralumni.uncc.edu/s/1721/giving/landing17.aspx?sid=1721&gid=2&pgid=1143">
          <button class="download-button btn btn-lg btn-dark" type="button">Donate money</button>
        </a> -->
        <hr>
        <a class="item-link" href="https://www.facebook.com/"><i class="social-icon fab fa-facebook-f"></i></a>
        <a class="item-link" href="https://www.facebook.com/"><i class="social-icon fab fa-instagram"></i></a>
        <a class="item-link" href="https://www.facebook.com/"><i class="social-icon fab fa-twitter" ></i></a>
        <a class="item-link" href="https://www.facebook.com/"><i class="social-icon fas fa-envelope"></i></a>
        <h6>© Copyright 2021</h6>
        <!-- <small>Copyright &copy; Duy Minh Pham 2021</small> -->
      </div>
    </section>
  </footer>
  </body>
  </html>