<%- include('./partials/header.ejs')%>
<section id = 'about'>
<div class= 'container-fluid'>
    <h2>Welcome to the Vietnamese cuisine</h2>
    <div class="row">
        <div id="image-json1" class="col-lg-6 content">
            <p>Vietnamese food is known for its distinct use of fresh, fragrant and aromatic flavours. There is a balance of sweet and sour, 
                spicy and cooling, fresh and salty flavours (from the Vietnamese staple fermented fish sauce, or ‘nuoc mam’).  
                This balance of ying and yang is typical with most Asian cuisines.</p>
        </div>
        <div id="context-json1" class="col-lg-6">
          <img src="images/vietnamArea.gif" width="250" alt="Vietnam">
        </div>
      </div>
</div>
</section>
<%- include('./partials/footer.ejs')%>