<%- include('./partials/header.ejs')%>
<div class = "container-fluid">
    <h2>Contact Us</h2>
    <h3>You can contact us in the the social media</h3> 
    <h6>Location: 9201 University City Blvd, Charlotte, NC 28223</h6>
    <h6>Phone: (704) 687-8622</h6>
    <!-- <a class="item-link" href="https://www.facebook.com/"><i class="social-icon fab fa-facebook-f"></i></a>
    <a class="item-link" href="https://www.facebook.com/"><i class="social-icon fab fa-instagram"></i></a>
    <a class="item-link" href="https://www.facebook.com/"><i class="social-icon fab fa-twitter" ></i></a>
    <a class="item-link" href="https://www.facebook.com/"><i class="social-icon fas fa-envelope"></i></a> -->
</div>
<%- include('./partials/footer.ejs')%>
