<%- include('./partials/header.ejs')%>
  <div class="background-image">
    <img class="background-image" src="images/background.gif" width="1100" alt="background">
    <hr>
  </div>
  <!-- Menu -->
  <section class="white-section" id="Menu">
    <div class="container-fluid">
      <h2 class="section-heading">Welcome to Vietnames cuisine</h2>
      <p>Traditional Vietnamese cooking is greatly admired for its fresh ingredients, minimal use of dairy and oil, complementary textures, and reliance on herbs and vegetables. We look to bring you the best tasting recipes regardless of situation,
        season, event or occasion. Our curators look to work with common ingredients. We encourage you to also submit your favorite recipes to share with others and build a collection of your favorites that can be referenced when you don't know what
        you're quite in the mood for.</p>
      <div class="row">

        <div class="Menu-column col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header">
              <h3>Pho</h3>
            </div>
            <div class="card-body">
              <img class="card-image" src="images/pho.jpeg" width="250" alt="PHO">
              <p> Pho is Vietnam's unofficial national dish, exported with pride all over the world. Pho consists of flat rice noodles in a light, meat-based broth. </p>
              <!-- The dish is usually accompanied by basil, lime, chili, and other extras on the side so that eaters can season the soup to their own taste. -->
              <a href="/Connection" class="btn btn-lg btn-block btn-dark" role="button" aria-pressed="true">View recipe</a>
            </div>
          </div>
        </div>

        <div class="Menu-column col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header">
              <h3>Banh my</h3>
            </div>
            <div class="card-body">
              <img class="card-image" src="images/banhmy.jpeg" width="250" alt="PHO">
              <p>This airy Vietnamese baguette is made with a combination of wheat and rice flours with a thin crispy crust. It is filled with pork, pâté, cured ham and a variety of cold cuts.</p>
              <a href="/connection" class="btn btn-lg btn-block btn-outline-dark" role="button" aria-pressed="true">View recipe</a>
            </div>
          </div>
        </div>



        <div class="Menu-column col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3>Banh Chung</h3>
            </div>
            <div class="card-body">
              <img class="card-image" src="images/banhchung.jpeg" width="250" alt="PHO">
              <p>Bánh chưng is a traditional Vietnamese food which is made from glutinous rice, mung beans, pork and other ingredients. Bánh chưng and bánh giầy symbolized, respectively, the earth and the sky.</p>
              <a href="/connection" class="btn btn-lg btn-block btn-dark" role="button" aria-pressed="true">View recipe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<%- include('./partials/footer.ejs')%>



